/* You can add global styles to this file, and also import other style files */

  .progress-wrapper {
    position: relative;
  }
  
  .progress-value {
    position: absolute;
    top: 0;
    left: 96%;
    transform: translateX(-50%);
    line-height: 1rem;
    font-weight: bold; 
  }
  
  .hero  {
    background-image: url(assets/IMG/BackGMain.jpg) !important;
    background-size: cover; 
    background-position: center center;
  }

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
  }
  
  .tile-grid {
    margin-right: -4px;
    overflow: hidden;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minimax(2400px ,1fr));
  }
  
  .tile {
    background-color: grey;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    border-color: transparent;
    border-width: 0 4px 4px 0;
    position: relative;
    margin-left: 12px;
    margin-right: 12px;
  }
  
  .tile-grid-item {
    float: left;
    position: relative;
    padding-bottom: 30%;
    margin-right: 12px;
  }
  
  .tile-inner-padded {
    padding: 10px;
  }
  
  .tile-grid-item-inner,
  .tile-square-inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-right: 12px;
  }
  
  /* Square */
  .tile-square {
    border-right-width: 0; /* If tile-square is inside tile-grid, the border should be added back */
    padding-bottom: 100%;
    position: relative;
  }
  
  /* Auto Height */
  .tile-auto {
    padding-bottom: 0;
  }
  
  /* Nested Tiles */
  .tile-table {
    background-color: transparent;
    display: table;
    width: 100%;
    height: 100%;
  }
  
  .tile-table-row {
    display: table-row;
  }
  
  .tile-table-cell {
    display: table-cell;
    vertical-align: top;
  }
  
  /* Center */
  .u-text-center {
    text-align: center;
  }
  
  .u-align-middle {
    vertical-align: middle;
  }
 
  .footer {
    clear: left;
  }
  

  .card {
    background-color: grey;
    color: white;
    padding: 1rem;
    height: 100%; /*Adding height to the cards to ensure text is not cut out */
    margin-right: 12px;
    margin-left: 12px ;
    margin-top: 12px;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  }

  .link-ISS {
    font-weight: bold;
    color: white;
  }


  @media (min-width: 600px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
    .cards-2 { grid-template-columns: repeat(1, 1fr); }
    .titles {font-size: x-large;}
    .subtitle-2 { font-size: medium;}
    .link {font-size: x-large;}
    .link2 {font-size: small;}
    .progress-value {font-size: small;}
    .text-body {font-size: large;}
    .titles-pic {font-size : xx-large }
    table, th, td {max-width: 97%;}
    .title-3 {font-size: xx-large;}
  }

  @media (min-width: 1200px) {
    .cards { grid-template-columns: repeat(4, 1fr); }
    .titles-pic {font-size : xx-large}
  }

  @media (min-width: 1500px) {
   
    .text-body {font-size: xx-large;}
    .linl {font-size: small;}
    table, th, td {max-width: 99%;}
    
  }


  @media (min-width: 1000px) {
    .cards-2 { grid-template-columns: repeat(3, 1fr); }
    .titles {font-size: xxx-large;}
    .title-3 {font-size: xxx-large;}
    .titles-pic {font-size : xxx-large }
    .subtitle-2 {font-size: xx-large;}
    .link {font-size: xx-large;}
    .progress-value {font-size: large;}
    .text-body {font-size: x-large;}
    .subtitle-2 {font-size: xx-large;}
    table, th, td {max-width: 98%;}
    .linl {font-size: medium;}
    
  }
  .link2 {
    color : white ;
  }

  

  .cards {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;

  }

  .cards-2 {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;

  }

  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 45%;
    top: 35%
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .titles {   
    font-weight: bold;
  }

  .title-3 { 
    font-weight: bold;
    text-align: center;
  }

  .titles-CV {   
    font-weight: bold;
  }


  .subtitle-2 { 

    font-weight: bold;
  }

  .link {
    color:white ;
    font-weight: large;
    font-weight: bold;

  }

  .text-body { 
    color:white;
  }

  table, th, td {
    border: 1px solid black;
    margin-left: 12px ;
    margin-right: 12px;
    background-color: white;
  }

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  th, td {
    padding: 10px;
  }

  th {
    text-align: left;
  }

  table {
    border-spacing: 5px;
  
  }

  .mytable {
    width: 100%;
  }

  .title-CV-all { 
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
  }

  .titles-pic {
    
    font-weight : bold ;
  }

  .iframe1 {
    width: 99%;
    margin-left: 0.5%;
    height: 750px;
  }

  .tile {
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    
  }
  .tile, .card {
    background: linear-gradient(to left, grey, black); 
    height: 100%;
  }

  

  


  
  

  
